<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Booking Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1 class = "heading"> Welcome to Automation Transportation System. Your Journey Our Responsibility.</h1>
<br>
<h3>Login Successfully</h3>


<form th:action="@{/ride}" method="get">
        <button class="btn btn-md btn-danger btn-block"
                type="Submit">Want to Book A Ride? Click Here
        </button>
</form>


<form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout
        </button>
</form>
    
</body>
</html>