<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Booking Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1 class = "heading"> Welcome to Automated Transportation System. Your Journey Our Responsibility.</h1>
<br>
<h3 class = "heading">Booking Page</h3>

<br>
<h2 class="heading">Welcome To Your Application! Enter Your Start And Drop Location</h2>
<br><br>

                <form class="form-inline" action="/ride" method="post">
                
                
                <div class="form-group">
                	<div class="col-sm-9">
                		<input class="form-control mr-sm-2" 
                			   type="text"  id="startLocation"
                			   name="startLocation" value=""  
                			   placeholder="startLocation" />	
                	</div>
                </div>
                <br><br>
                <div class="form-group">
                	<div class="col-sm-9">
                		<input class="form-control mr-sm-2" 
                			   type="text"  id="endLocation"
                			   name="endLocation" value=""  
                			   placeholder="endLocation" />	
                	</div>
                </div>
                <br><br>
      		    <button class="btn btn-success" type="Submit" value="Submit">Confirm The Location</button>
      		    
      		    
      		    <h2><span class="text-success" th:utext="${successMessage}"></span></h2>
      		    <h2><span class="text-success" th:utext="${distance}"></span></h2>
      		    <h2><span class="text-success" th:utext="${timeToTravel}"></span></h2>
      		    
      		    
            </form> 
			
<br>
<form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout
        </button>
</form>
    
</body>
</html>