<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<title>HomePage Of Our Application</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<head>
<title>Welcome Page</title>
</head>
<body>
<h1 class = "heading"> Welcome to Automation Transportation System </h1>
<br>


<h4>If You are a driver. Please Click this link below</h4>
<form th:action="@{/driver/login}" method = "get">
	<button class="btn btn-md btn-warning btn-block" type="Submit">Driver Entry</button>
</form>
<br>

<h4>Want to book a ride? You are at right place. Please click the link below to enjoy the application</h4>
<form th:action="@{/homepage}" method = "get">
	<button class="btn btn-md btn-warning btn-block" type="Submit">Driver Entry</button>
</form>

<h3>If you Want to start a new journey!!!</h3>
<form th:action="@{/registration}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Registration Page</button>
</form>
<br>
<h3>If You are part of this journey!!! Please log in </h3>
<form th:action="@{/login}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Login Page</button>
</form>
</body>
</html>